html,body{
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    margin:5px;
    min-height:180px;
    padding:0;
    width:500px;
    background-color: lightblue;
    background-position:center;
    position: relative;
}
h1,h2{
font-family:'Menlo',monospace;
font-size:22px;
font-weight:600;
margin:5px;
color:#dd4132;
}
a:link, a:visited{
color:#2f5876;
outline: 0;
text-decoration:none;
}
.container{
    width:auto;
    height:auto;
    background:#000 ;
    color: #fff;
    top:50%;
    left:50%;
    position:center;
    box-sizing: border-box;
    opacity:0.6 ;
}